numpy>=1.10.0
scipy>=0.18.0
scikit-learn>=1.19.1
matplotlib>=3.0
pandas>=0.25
keras>=2.2
tensorflow>=1.13
scprep>=1.0
joblib
phate>=0.4.3
graphtools>=1.1
sphinx<=1.8.5
sphinxcontrib-napoleon
autodocsumm
ipykernel
nbsphinx
.
